<!DOCTYPE html>
<html>
<head>
  <title>      About Us - OCEANLY</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body id="about-page">
  <header>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
      </div>
    <h1>  ABOUT OCEANLY</h1>
  </header>

  <section id="mission">
    <h2>Our Mission</h2>
    <p>At <span class="highlight">OCEANLY</span>, our mission is to ensure the efficient and equitable distribution of clean and safe water to meet the needs of our customers. We strive to promote sustainable water management practices while ensuring the highest standards of quality, reliability, and customer satisfaction.</p>
  </section>

  <section id="expertise">
    <h2>Our Expertise</h2>
    <ul>
      <li>Designing and implementing efficient water distribution networks</li>
      <li>Implementing smart water management solutions for optimal resource utilization</li>
      
    </ul>
  </section>

  <section id="environment">
    <h2>Environmental Stewardship</h2>
    <p>At <span class="highlight">OCEANLY</span>, we recognize the importance of protecting our natural resources. We are dedicated to minimizing our environmental impact and promoting sustainable practices. Through efficient water distribution systems, responsible water management, and community education, we aim to contribute to a greener and more sustainable future.</p>
  </section>

  <section id="satisfaction">
    <h2>Customer Satisfaction</h2>
    <p>Customer satisfaction is at the core of our business. We prioritize responsiveness, reliability, and open communication with our customers. Our dedicated customer support team is available to address inquiries, resolve issues, and ensure a positive experience with our water distribution services.</p>
  </section>

  <section id="join">
    <h2>Join Us in Making a Difference</h2>
    <p>We invite you to partner with us in creating a sustainable and reliable water distribution system. Together, we can contribute to the well-being of communities, preserve precious resources, and build a better future.</p>
    <p>Contact us today to learn more about our services and how we can meet your water distribution needs.</p>
  </section>

  <footer>
    <p>&copy; 2023 OCEANLY. All rights reserved.</p>
  </footer>
</body>
</html>
