<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
</head>
<body>
    
    <div class="contact-info">
        <h2>Contact us. Get in touch</h2>
        <p>If you have any questions or inquiries, feel free to contact us.</p>
        <ul>
            <li><i class="fas fa-envelope"></i><strong>Email:</strong> oceanly204@gmail.com</li>
            <li><i class="fas fa-phone"></i><strong>Phone:</strong> +1 123 456 7890</li>
            <li><i class="fas fa-address-book"></i><strong>Address:</strong>OCEANLY OFFICE 190,Rajiv Gandhi Salai,Kelambakkam,Chennai,INDIA</li>
        </ul>
    </div>

    <script>
        <a href="javascript: history.go(-1)">Go Back</a>

    </script>
</body>
</html>