<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='menucss.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>OCEANLY</header>
  <ul>
<li><a href="#"><i class="fas fa-user-circle"></i>Your Profile</a></li>
<li><a href="Confirmm.html"><i class="fas fa-edit"></i>Update </a></li>
<li><a href="aboutus.html"><i class="fas fa-info-circle"></i>About us</a></li>
<li><a href="help.html"><i class="fas fa-question-circle"></i>Help</a></li>
<li><a href="login.html"><i class="far fa-sign-out"></i>Signout</a></li>
</form>
</ul>
</div>
<div class="buttons">
  <div class="style">
    <button class="search-button" onclick="location.href='{{ url_for('search1') }}'">
      <i class="fa fa-search"></i> Search
    </button>
  </div>
</div>
  
<section></section>
  </body>
</html>